.main-div {
  background-color: black;
  animation: carousel-appear 1s ease-out forwards;
}

.gallery-title {
  color: aliceblue;
  text-align: center;
  font-family: inherit;
  font-size: 300%;
  margin-bottom: 20px;
  padding: 10px;
  font-weight: 700;
}


.main-div {
     display: inline-grid;
     height: 700px;
     width: 100%;
}

.carousel {
     height: 700px;
     max-width: 100%;
}

.carousel-indicators {
  margin-bottom: 150px;
}


.carousel-img {
     height: 500px;
     max-width: 100%;

}

  .gallery-title {
    font-size: 30px;
    padding: 20px;
  }

.carousel-item img{
     height: 500px;
     max-width: 100%;
     margin: auto;
     display: block;
 }


@media (max-width: 900px) {
  .carousel {
    width: 350px;
    height: 500px;
  }
}