.main-div {
  background-color: black;
  animation: carousel-appear 1s ease-out forwards;
}

.gallery-title {
  color: aliceblue;
  text-align: center;
  font-family: inherit;
  font-size: 300%;
  margin-bottom: -150px;
  padding: 15px;
  font-weight: 700;
}

.carousel-view {
  display: flex;
  align-items: center;
}

.carousel {
  width: 900px;
  height: 900px;
  margin: auto;
}

.carousel-indicators {
  margin-bottom: 130px;
}


.carousel-img {
  margin: auto;

}

@media (max-width: 900px) {
  .carousel {
    width: 350px;
    height: 500px;
  }

  .carousel-img {
    height: 170px;
  }

  .gallery-title {
    font-size: 30px;
    padding: 50px;
  }
}

